/* RESET  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* generali */
body{
    font-family: 'Montserrat', sans-serif;
}


:root{
    --width-aside: 250px;
    --width-aside-mq: 70px;
    --height-footer: 100px;
    --mgn-bt-a: 10px;
    --mgn-bt-i: 1.5rem;
    --mgn-bt-card: 30px;
    --padding-aside: 20px;
    --padding-aside-mq: 10px;


    --color-light: white;
    --color-light-due: rgb(220, 220, 220);
    --color-gray:#808080;
    --color-hv:white;

    --active-page-br:3px solid transparent;
}

a{
    text-transform: capitalize;
    text-decoration: none;
    color: var(--color-gray);
    font-weight: 600;
}
li{
    list-style-type: none;
}

h2{
    color: var(--color-light);
    margin-bottom: var(--mgn-bt-a);
}
h4{
    color: var(--color-light);
}