/* debug */
.debug .box{
    background-color: azure;
    height: 50px;
}
.debug #body{
    position: relative;
}


.debug .top-page{
    display: flex;
}








/* aside  */
.debug aside{
    background-color: #333;
    height: calc(100vh - var(--height-footer));
    width: var(--width-aside);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.debug aside .aside-img{
    background-color: lightcoral;
    min-height: 50px;
}
.debug aside .aside-nav{
    background-color: lightcyan;
}
.debug aside .aside-playlist{
    background-color: lightpink;
}













/* main  */
.debug main{
    background-color: lightblue;
    height: calc(100vh - var(--height-footer));
    width: calc(100% - var(--width-aside));
}
.debug main #upgrade{
    position: sticky;
    top: 0;
    background-color: rgba(255, 0, 0, 0.5);
    height: var(--height-footer);
}
.debug main #navigation{
    background-color: lightcyan;
}
.debug main #navigation ul{
    display: flex;
    justify-content:center ;
    gap: 20px;
}











/* footer  */
.debug footer{
    position: fixed;
    bottom: 0;
    z-index: 20;
    background-color: lightgray;
    width: 100%;
    height: var(--height-footer);
}