/* debug */
.debug .box{

    height: 50px;
}
.debug #body{
    position: relative;
}


.debug .top-page{
    display: flex;
}


.debug .container{
    padding: 20px;
}





/* aside  */
/* .debug aside{
    background-color: #333;
    height: calc(100vh - var(--height-footer));
    width: var(--width-aside);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */
/* .debug aside .aside-img{
    background-color: lightcoral;
    min-height: 50px;
} */
.debug aside .aside-nav{

}
.debug aside .aside-playlist{

}













/* main  */
.debug main{

    height: calc(100vh - var(--height-footer));
    width: calc(100% - var(--width-aside));
    overflow: auto;
}


/* upgrade */
.debug #upgrade{
    position: sticky;
    top: 0;
    background-color: rgba(255, 0, 0, 0.5);
    height: var(--height-footer);
}


/* navigation */
.debug #navigation{
    background-color: lightcyan;
}
.debug #navigation ul{
    display: flex;
    justify-content:center ;
    flex-wrap: wrap;
    gap: 20px;
}

/* card generale */
.debug .playlist .cards{
    display: flex;
    gap: 10px;
}
.debug .playlist .card{
    background-color: aliceblue;
    width: calc(100% / 6);
    min-height: 200px;
}








/* recent */











/* created */











/* artisti */











/* footer  */
.debug footer{
    /* position: fixed;
    bottom: 0; */
    z-index: 20;
    background-color: lightgray;
    width: 100%;
    height: var(--height-footer);
    display: flex;
    justify-content: space-between;
}
.debug .foot-first,
.debug .foot-center,
.debug .foot-last{
    background-color: red;
    width: 100px;
    height: 100px;
}