/* debug */
.debug main{
    display: flex;
}
.debug .box{
    background-color: azure;
    height: 50px;
    width: 50px
}
/* aside  */
.debug aside{
    background-color: #333;
    height: calc(100vh - var(--height-footer));
    width: var(--width-aside);
    posi
}
.debug aside .aside-img{
    background-color: lightcoral;
    min-height: 50px;
}
.debug aside .aside-nav{
    background-color: lightcyan;
}
.debug aside .aside-playlist{
    background-color: lightpink;
    min-height: 300px;
}
.debug aside .aside-footer{

}
.debug aside .aside-footer .aside-fot-ky{
    
}
/* section  */
.debug #main{
    background-color: lightblue;
    height: calc(100vh - var(--height-footer));
    width: calc(100% - var(--width-aside));
}

/* footer  */
.debug #footer{
    background-color: lightgray;
    width: 100%;
    height: var(--height-footer);
}