@media screen and (max-width:1100px){
    .playlist .card{
        width: calc((100% / 4) - 10px);
    }
}





@media screen and (max-width:700px){
    .playlist .card{
        width: calc((100% / 2) - 10px);
    }
    footer .footer-song{
        margin-right: 10px;
    }
    
}







@media screen and (max-width:600px){
    #logo-desk{
        display: none;
    }

    #logo-small{
        display: inline;
        padding: var(--padding-aside-mq);
    }
    main{
        width: calc(100% - var(--width-aside-mq));
    }
    aside{
        width: var(--width-aside-mq);
    }
    aside .aside-nav span,
    aside .aside-button,
    aside .aside-playlist,
    aside .aside-footer span,
    aside .aside-footer hr{
        display: none;
    }
    aside .aside-nav li{
        border: none;
    }
    aside .aside-footer  a{
        justify-content: center;
        margin-bottom: var(--mgn-bt-a);
    }
    .aside-footer{
        display: flex;
        flex-direction:column ;
        align-items: center;
    }
}


@media screen and (max-width:550px){     /*bonus*/
    footer .foot-last{
        flex-direction: column;
        justify-content: space-evenly;
    }
    footer .foot-first .footer-song{
        flex-direction: column;
        text-align: center;

    }
    footer .foot-first .footer-button{
        display: flex;
        flex-direction: column;
        gap: 15px;

    }
    footer .foot-first .footer-song img{
        width: 30px;
        border-radius: 50%;
        margin-right: 0;
    }
    footer .foot-last .bar-gray{
        display: none;
    }
}

@media screen and (max-height:500px){           /*bonus*/
    #upgrade{
        display: none;
    }
}


