/* top page  */
#top-page{
    height: calc(100vh - var(--height-footer));
    display: flex;
    overflow: hidden;
}


/* aside  */
aside{
    height: 100%;
    min-height: 500px;
    width: var(--width-aside);
    background-color: #333;
    padding: 20px;
}
aside .aside-header{
    height: calc(100% - 70px);
}
aside .aside-footer{
    height: 70px;
    background-color: #333;
    position: relative;
    z-index: 2;
    padding-top: 10px;
}
aside .aside-img img{
    width: 150px;
    margin-bottom: var(--mgn-bt-i);
}
aside .aside-nav{
    margin-bottom: var(--mgn-bt-i);
}
aside .aside-nav li,
aside .aside-footer >div{
    display: flex;
    align-items: center;
    gap: var(--mgn-bt-a);
}
aside .aside-nav li,
aside .aside-playlist li{
    margin-bottom: var(--mgn-bt-a);

}
aside .aside-nav img,
aside .aside-footer img{
    width: 1.5rem;
}
aside .aside-nav li:first-child a,
aside .aside-footer a:last-child{
    color: var(--color-light);
}

aside .aside-nav h3{
    text-transform: uppercase;
    margin-bottom: var(--mgn-bt-a);
    color: var(--color-light);
}
aside .aside-nav > div{
    display: flex;
    align-items: center;
    gap: var(--mgn-bt-a)
}
aside .aside-nav i{
    color: var(--color-gray);
}
aside .aside-footer hr{
    margin: var(--mgn-bt-a) 0;
}
aside .aside-playlist{
    height: 40%;
    overflow: auto;
}


/* main  */
main{
    background-color: #141922;
    height: 100%;
    width: calc(100% - var(--width-aside));
    overflow: auto;
}










/* footer  */
.debug footer{
    position: relative;
    z-index: 20;
    background-color: lightgray;
    width: 100%;
    height: var(--height-footer);
    display: flex;
    justify-content: space-between;
}