/* top page  */
#top-page{
    height: calc(100vh - var(--height-footer));
    display: flex;
    overflow: hidden;
}








/* aside  */
aside{
    height: 100%;
    min-height: 500px;
    width: var(--width-aside);
    background-color: black;
    /* padding: 20px; */
}
aside .aside-header{
    height: calc(100% - 100px);
}
aside .aside-footer{
    height: 100px;
    background-color: black;
    position: relative;
    z-index: 2;
    padding: var(--padding-aside);
}
aside .aside-img img{
    width: 90%;
    margin-bottom: var(--mgn-bt-i);
    padding: var(--padding-aside);
}
aside .aside-nav{
    margin-bottom: var(--mgn-bt-i);
    /* border-left: 2px solid greenyellow; */
    /* padding: 0 var(--padding-aside); */
}
aside .aside-nav li,
aside .aside-button{
    padding: 0 var(--padding-aside);
}
aside .aside-nav li,
aside .aside-footer >div{
    display: flex;
    align-items: center;
    gap: var(--mgn-bt-a);
}
aside .aside-playlist{
    padding-left: var(--padding-aside);
}
aside .aside-nav li,
aside .aside-playlist li{
    margin-bottom: var(--mgn-bt-a);

}
aside .aside-nav img,
aside .aside-footer img{
    width: 1.5rem;
}
aside .aside-nav li:first-child{
    border-left: var(--active-page-br);
    /* padding-left: var(--padding-aside); */
}
aside .aside-nav li:first-child a,
aside .aside-profile a{
    color: var(--color-light);
}

aside .aside-nav h3{
    text-transform: uppercase;
    margin-bottom: var(--mgn-bt-a);
    color: var(--color-light);
}
aside .aside-nav > div{
    display: flex;
    align-items: center;
    gap: var(--mgn-bt-a)
}
aside .aside-nav i{
    color: var(--color-gray);
}
aside .aside-footer hr{
    margin: var(--mgn-bt-a) 0;
}
aside .aside-playlist{
    height: 40%;
    overflow: auto;
}
aside .aside-profile a{
    font-weight: 700;
}
aside .aside-download img{
    filter: invert(0.5);
}
aside .aside-profile img{
    width: 25px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--color-gray);
}
aside .aside-download img{
    width: 18px;
    aspect-ratio: 1/1;
}

/* main  */
main{
    background-color: #141922;
    height: 100%;
    width: calc(100% - var(--width-aside));
    overflow: auto;
}


/* upgrade */
#upgrade{
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    text-align: right;
}
#upgrade a{
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid var(--color-light);
    color: var(--color-light);
    display: inline-block;
    border-radius: 25px;
    
}


/* navigation */
#navigation{
    margin: 10px 0;
}
#navigation ul{
    display: flex;
    justify-content:center ;
    flex-wrap: wrap;
    gap: 20px;
}
#navigation ul li{
    padding: 5px;
}
#navigation ul li:first-child{
    border-bottom: var(--active-page-br);
}






/* cards */
.playlist{
    width: 100%;
    padding: 20px;
}
.playlist .row{
    width: 100%;
}
.playlist .row-text{
    margin-bottom: 30px;
}
.playlist .cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: auto;
}
.playlist .card{
    width: calc((100% / 6) - 10px);
    margin-right: 10px;
    margin-bottom: var(--mgn-bt-card);
    text-align: center;
}
.playlist p{
    color: var(--color-gray);
    font-weight: 600;
}
.playlist .card img{
    width: 100%;
}
.playlist .card > *{
    margin-bottom: 10px;
}




/* footer  */
footer{
    position: relative;
    z-index: 20;
    background-color: #282828;
    width: 100%;
    height: var(--height-footer);
    display: flex;
    justify-content: space-between;
    padding:10px 20px;
}

footer .foot-first a,
footer .foot-first i{
    color: gray;
}



footer .foot-first,
footer .foot-center,
footer .foot-last,
footer .footer-song{
    display: flex;
    align-items: center;
}
/* footer .footer-song{
    display: flex;
    align-items: center;
} */
footer .footer-song img{
    width: 50px;
    margin-right: 10px;

}
footer .footer-song{
    margin-right: 30px;
}
footer .foot-last i,
footer .foot-first i{
    margin-right: 20px;
}
footer .foot-last i{
    color: var(--color-light);
}

footer .foot-center .footer-button i{
    color: var(--color-light);
    font-size: 1.5rem;
    margin: 0 10px;
}
footer .foot-center .footer-button i:nth-child(3){
    color: var(--color-light);
    font-size: 2rem;
    margin: 0 20px;
    margin-bottom: 10px;
}
footer .foot-center{
    align-self: center;
    display: flex;
    flex-direction: column;
    color: var(--color-light);
    font-weight: 600;
}
footer .foot-center .bar-center{
    display: flex;
    align-items: center;
}






/* progres bar  */
footer .bar-gray{
    border: 0px solid gray;
    background-color: gray;
    height: 7px;
    border-radius: 5px;
}
footer .bar-lightgray{
    border: 0px solid lightgray;
    background-color: lightgray;
    height: 100%;
    border-radius: 5px;
}
footer .foot-last .bar-gray{
    width: 170px;
}
footer .foot-last .bar-lightgray{
    width: 30%;
}
footer .foot-center .bar-gray{
    width: 600px;
    margin: 0 20px;
}
footer .foot-center .bar-lightgray{
    width: 30%;
}



